<div class="form-field">
    <div class="form-label">
        Я хочу получать вакансии для позиции:
    </div>
    <div class="form-input">
        {{#each item in presetSearches}}
        <div class="checkbox">
            <label>
                {{view VacancySearch.ListItemCheckbox value=item itemsBinding='filter.textArray'}}
                {{item}}
            </label>
        </div>
        {{/each}}
        <div>
            {{#link-to 'filter.extended' class="padded-link"}}
                Выбрать другие
            {{/link-to}}
        </div>
    </div>
</div>

<div class="form-field">
    <div class="form-label">
        С уровнем заработной платы:
    </div>
    <div class="form-input form-inline">
        <label class="sr-only" for="salary-from">С уровнем заработной платы:</label>
        <span>От</span>
        {{input value=filter.salary type="text" id="salary-from" class="form-control"}}
        <span>{{filter.currency.abbr}}</span>
    </div>
</div>

<div class="form-field">
    <div class="form-label">
        Мой регион:
    </div>
    <div class="form-input">
        <div class="row">
            <div class="col-xs-5">
                <label class="sr-only" for="region">Регион:</label>
                <select multiple id="region" class="form-control chosen-select" data-placeholder="Введите название региона">
                    <optgroup label="Россия">
                        <option>Москва</option>
                        <option>Пенза</option>
                        <option>Самара</option>
                        <option>Нижний Новгород</option>
                        <option>Санкт-Петербург</option>
                    </optgroup>
                    <optgroup label="Украина">
                        <option>Киев</option>
                        <option>Одесса</option>
                        <option>Львов</option>
                        <option>Харьков</option>
                        <option>Севастополь</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
</div>
