<div class="content-wrap">
    <h1>О приложении</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut odio vitae eros luctus suscipit non eu lacus. Donec dapibus, dolor ac imperdiet ullamcorper, lorem elit ultrices est, sed viverra risus nunc et massa. Suspendisse turpis dolor, consectetur sed nibh nec, vehicula ultricies magna. Vivamus posuere eros et mauris varius cursus. Vivamus mattis accumsan mattis. Donec placerat massa at sem suscipit facilisis. Curabitur consectetur nibh ut viverra fringilla. In hendrerit risus vel elit blandit, quis posuere nunc facilisis. Cras et fringilla elit, egestas feugiat diam.
    </p>
    <p>
        Duis luctus sapien ac lacus hendrerit pellentesque. Vivamus sed facilisis velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In vitae leo feugiat, commodo dui vitae, dignissim enim. Proin mauris sapien, rutrum convallis mauris a, bibendum fermentum est. Nunc elementum nisl semper ligula volutpat dignissim. Ut vitae libero sit amet ante lobortis porttitor. Praesent malesuada tellus felis, ac condimentum dolor iaculis sit amet.
    </p>
    <p>
        Suspendisse suscipit vestibulum lectus ut consequat. Vivamus sodales purus sit amet lectus varius ultricies. Ut fermentum magna eget ante rutrum placerat. Maecenas adipiscing pharetra lectus et mollis. Integer malesuada malesuada elementum. Donec luctus velit sapien, ultrices ultrices libero pharetra eu. Nunc nec ante id erat dignissim tincidunt. Sed non augue eget dolor dapibus gravida sit amet ac eros. Sed in faucibus magna, a semper lacus. Donec enim velit, suscipit ut ultricies adipiscing, consectetur sed turpis. Vivamus mattis non est et rhoncus. Aliquam quam dolor, placerat in aliquet sed, lobortis in enim. Quisque velit justo, eleifend vel lobortis vel, sollicitudin id erat. Quisque aliquam ullamcorper libero.
    </p>
</div>
