<div class="content-wrap">
    <ul class="nav nav-tabs nav-justified">
        {{#link-to 'filter.index' tagName='li' href=false}}
            <a {{bindAttr href="view.href"}}>Простой поиск</a>
        {{/link-to}}
        {{#link-to 'filter.extended' tagName='li' href=false}}
            <a {{bindAttr href="view.href"}}>Расширенный поиск</a>
        {{/link-to}}
    </ul>

    <div class="tab-content">
        <form role="form">
            {{outlet}}
            <div class="form-submit">
                <p>
                    <button type="submit" class="btn btn-primary btn-lg" {{action 'submit'}}>
                        Сохранить настройки
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>
