<div class="content-wrap">
    <h1>Настройки поиска</h1>
    <ul class="nav nav-tabs nav-justified">
        {{#link-to 'filter.index' tagName='li' href=false}}
            <a {{bind-attr href="view.href"}}>Простой поиск</a>
        {{/link-to}}
        {{#link-to 'filter.extended' tagName='li' href=false}}
            <a {{bind-attr href="view.href"}}>Расширенный поиск</a>
        {{/link-to}}
    </ul>

    <div class="tab-content">
        <form role="form">
            {{outlet}}
        </form>
    </div>
</div>
