<div class="content-wrap">
    <h1>Список вакансий</h1>
    {{#if model}}
    <div id="sort">
        <p>
            Сортировка:&nbsp;
            <span class="sort-links">
                {{#each option in sortOptions}}
                    {{action-link key=option.id name=option.name currentActive=sort action='sort'}}
                    &nbsp;
                {{/each}}
            </span>
        </p>
    </div>
    {{/if}}
    {{#each item in model}}
        {{vacancy-item
          vacancy=item
          currencies=dictionaries.currency
          favourites=favouriteVacancies
          addAction='addFavourite'
          removeAction='removeFavourite'}}
    {{else}}
        <div>
           <p>
                Ваша выборка вакансий пока пуста.
                Попробуте {{#link-to 'filter'}}настроить параметры поиска{{/link-to}}
            </p>
        </div>
    {{/each}}
    {{#if loading}}
        <div class="row">
            <div class="col-xs-2 col-xs-offset-5">
                <div class="center-block">
                    <p>
                        <i class="fa fa-spinner fa-spin fa-3x text-muted"></i>
                    </p>
                </div>
            </div>
        </div>
    {{/if}}
</div>
