<div class="content-wrap">
    <h1>Список вакансий</h1>
    <ul class="nav nav-tabs nav-justified">
        {{#link-to 'vacancies.index' tagName='li' href=false}}
            <a {{bind-attr href="view.href"}}>Свежие</a>
        {{/link-to}}
        {{#link-to 'vacancies.favourites' tagName='li' href=false}}
            <a {{bind-attr href="view.href"}}>Избранные</a>
        {{/link-to}}
    </ul>
    <div class="tab-content">
        {{outlet}}
    </div>
</div>
